nav{
  background-color: skyblue;
  color: #000;
  height: 561px;
  display: flex;
  opacity:  1;
  transition: opacity 0.3s ease;
  flex-direction: column;
  width: 65px;
  border-top: 4px solid orangered;
  border-right: 4px solid  orangered;
  border-bottom: 4px solid orangered;
  border-top-right-radius:30px ;
  position: fixed;
  top: 0;
  left: 0;
  }

  nav:hover{
      background-color: white;
      opacity: 1px;
      border-top-right-radius:30px ;
      height: 1000px;
      color: orange;
      width: 205px;
      position: fixed;
      top: 0;
      left: 0;
  }
  nav a span{
      display: none;
  }
  nav a i{
      color: orangered;
      padding-top: 10px;
      padding-left: 10px;
      height: 70px;
      width: 70px;
  }
  nav a:hover i{
      color: orange;
      size: 70px;
  }
 
  nav a{
      text-decoration: none;
      
  }
  nav:hover a span{
      display: inline-block;
      color: orangered;
      font-size: 20px;
      font-weight: bold;
      
  }
  nav:hover a:hover span{
     
      color: orange;
      
  }